$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

$accent-color: #2096F3;



body,html{
  margin: 0;
  padding: 0;
}

*{
  font-family: "Gotham Pro", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

h1{
  font-size: 29px;
  //line-height: 119.2%;
  @media (min-width: 992px) {
    font-size: 64px;
    line-height: 71px !important;
  }
}

h2{
  font-size: 25px;
  line-height: 120%;
  @media (min-width: 992px) {
    font-size: 55px;
    line-height: 53px;
  }
}

.container{
  padding: 0 20px;
  @media (min-width: 576px) {
    max-width: calc(540px + (1270px - 1140px))
  }

  // Средние девайсы («таблетки», >= 768px)
  @media (min-width: 768px) {
    max-width: calc(760px + (1270px - 1140px))
  }

  // Большие девайсы (десктопы, >= 992px)
  @media (min-width: 992px) {
    max-width: calc(960px + (1270px - 1140px))
  }

  // Экстрабольшие девайсы (большие десктопы, >= 1200px)
  @media (min-width: 1200px) {
    max-width: calc(1140px + (1270px - 1140px));
  }
}

button, a{
  cursor: pointer;
}

button{
  appearance: none;
}

