.faq {
  padding-bottom: 62px;
  @media screen and (min-width: $md-width) {
    padding-bottom: 135px;
  }
  &__head{
    h2{
      font-weight: bold;
      font-size: 25px;
      line-height: 120%;
      text-align: center;
      color: $main-color;
      max-width: 280px;
      margin: 0 auto 27px;
      @media screen and (min-width: $md-width){
        max-width: 803px;
        font-size: 64px;
        line-height: 111.2%;
        margin-bottom: 48px;
      }
    }
  }
  &__list{
    ul{
      li{
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        padding: 18px 20px 18px 18px;
        @media screen and (min-width: $md-width){
          font-size: 18px;
          line-height: 111.2%;
          padding: 22px 25px;
        }
        &::before{
          display: none;
        }
        >p{
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          @media screen and (min-width: $md-width){
            font-size: 16px;
            line-height: 150%;
          }
        }
      }
    }
  }
}