.header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 10;
  @media screen and (min-width: $lg-width){
    border-bottom: 1px solid rgba(white, 0.1);
  }
  &__logo{
    position: relative;
    z-index: 11;
    img{
      width: 151px;
      height: 23px;
      @media screen and (min-width: $lg-width ){
        width: auto;
        height: auto;
      }
    }
  }
  .hamburger{
    position: relative;
    z-index: 11;
    @media screen and (max-width: $lg-width){
      padding: 0;
      padding-top: 5px;
    }
  }
  .hamburger.is-active ~ &__navbar-nav{
    right: 0;
  }
  &__navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 16px;
    //margin: 0 -30px;
    box-sizing: border-box;
    //padding: 0 20px;
    @media screen and (min-width: $lg-width){
      padding-top: 0;
      align-items: center;
    }
    &-nav{
      z-index: 10;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: fixed;
      right: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background: #051834;
      padding:{
        left: 30px;
        right: 30px;
        top: 60px;
        bottom: 30px;
      }
      justify-content: space-between;
      transition: right 1s;

      @media screen and (min-width: $lg-width){
        justify-content: stretch;
        position: static;
        padding: 0;
        flex-direction: unset;
        width: auto;
        height: auto;
        background: none;
      }
      >ul{
        cursor: pointer;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        >li{
          display: block;
          text-align: center;
          position: relative;

          flex-basis: 100%;

          @media screen and (min-width: $lg-width){
            flex-basis: unset;

            margin-right: 59px;
          }
          &:last-child{
            margin-right: 0;
          }
          &::before{
            display: none;
          }
          &.current-menu-item{
            @media screen and (min-width: $lg-width){
              &::after{
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                content: '';
                height: 2px;
                width: 100%;
                background: #2096F3;
              }
            }

          }

          &:hover{
            .dropdown {
              visibility: visible;
              opacity: 1;
            }
          }
          >a{
            color: white;
            font-weight: 500;
            padding: calc(29px / 2) 0;
            display: block;
            font-size: 18px;
            line-height: 100%;
            @media screen and (min-width: $lg-width){
              font-size: 16px;
              padding-top: 43px;
              padding-bottom: 39px;
            }
            &:hover{
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }

  }

  .button {
    padding-top: 26px;
    padding-bottom: 19px;
    width: 100%;
    &::after{
      display: none;
    }
    @media screen and (min-width: $lg-width){
      padding: 0 34px;
      padding-top: 22px;
      padding-bottom: 17px;
      width: auto;
      margin-left: 68px;
      font-size: 14px;
    }
  }
}

.dropdown{
  position: absolute;
  left: 0px;
  z-index: 10;
  opacity: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  transition: opacity .25s;
  @media screen and (min-width: $lg-width){
    background: white;
    border-radius: 20px;
    width: 250px;
    top: 97px;
    left: 50%;
    transform: translateX(-50%);
  }
  >li{
    position: relative;
    @media screen and (min-width: $lg-width){
      &::before{
        content: '';
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 25px;
        width: calc(100% - 50px);
        background: rgba($accent-color,.5);
      }
      &:last-child{
        &::before{
          display: none;
        }
      }
    }
    >a{
      display: block;
      width: 100%;
      text-align: center;
      @media screen and (min-width: $lg-width){
        padding: 20px 25px;
        transition: background-color .25s, color .25s;
        &:hover{
          text-decoration: none;
          color: $accent-color;
          background: lighten(lightgrey, 10);
        }
      }
    }
  }
}
