
.pagination-wrapper {
  font-size: 0;
  text-align: center;
}


.little-dot {
  width: 10px;
  height: 10px;
  background: #BCBCBC;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
  position: relative;
  z-index: 10;
  transition: background-color .3s;
  &:hover{
    background: #2096F3;
  }
}

.little-dot--first,
.little-dot--last {
  z-index: 5;
}




.big-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:#2096F3;
  width: 27px;
  height: 10px;
  border-radius: 5px;
  &::before{
    display: block;
    content:'';
    position: absolute;
    z-index: 0;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border: 1px solid rgba(32, 150, 243, 0.3);
    border-radius: 16px;
    left: -4px;
    top: -4px;
  }
  &::after{
    display: block;
    content:'';
    position: absolute;
    z-index: 0;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 1px solid rgba(32, 150, 243, 0.1);
    box-sizing: border-box;
    border-radius: 20px;
    left: -8px;
    top: -8px;
  }
}

.transition-next .big-dot, .transition-prev .big-dot  {
  animation: slide-next-prev 1s linear both;
}

@keyframes slide-next-prev {
  from{
    width: 27px;
  }
  30%{
    width: 100px;
  }
  50%{
    width: 27px;
  }
}
