.sponsors {
  padding: 50px 0;
  @media screen and (min-width: $lg-width) {
    padding: 138px 0;
  }
  &__head{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    &::before{
      display: block;
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: $accent-color;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      left: -10px;
      top: -20px;
      @media screen and (min-width: $lg-width){
        left: -27px;
        top: -27px;
        width: 23px;
        height: 23px;
      }
    }
    .arrows{
      display: none;
      @media screen and (min-width: $sm-width){
        display: flex;
      }
    }
    @media screen and (min-width: $lg-width){
      margin-bottom: 68px;
    }
  }
  &__title{
    text-align: center;
    flex-grow: 1;
    @media screen and (min-width: $lg-width){
      text-align: left;
    }
  }

  .swiper {
    &-container{
      z-index: 0;
    }
    &-slide {
      cursor: pointer;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      max-height: 69px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-wrapper{
      margin-bottom: 43px;
      @media screen and (min-width: $lg-width){
        margin-bottom: 67px;
      }
    }
    &-nav{
      @media screen and (min-width: $sm-width){
        display: none;
      }
    }
  }
}